<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SharpAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <SharpAlert.Properties.Settings>
            <setting name="statusTest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusActual" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="messageTypeAlert" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="messageTypeUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="messageTypeCancel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="severityExtreme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="severitySevere" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="severityModerate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="severityMinor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="severityUnknown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="urgencyImmediate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="urgencyExpected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="urgencyFuture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="urgencyPast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowedSAMELocations_Geocodes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="EnforceEventBlacklist" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="AlertCheckInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AllowedUGCLocations_Geocodes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="weaOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="discardFirstAlerts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiscordWebhook" serializeAs="String">
                <value />
            </setting>
            <setting name="DiscordWebhookAppend" serializeAs="String">
                <value />
            </setting>
            <setting name="alertFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertFullscreenDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="urgencyUnknown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertFullscreenIdle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertTimeout" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="alertCompatibilityMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="statusWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertTimeZoneUTC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunnerType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClientServerURL" serializeAs="String">
                <value>example.com</value>
            </setting>
            <setting name="ClientServerPort" serializeAs="String">
                <value>9792</value>
            </setting>
            <setting name="statusExercise" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertTTSonly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertVolume" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="categoryGeophysical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categorySecurity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categoryMedical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categoryUtilities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categoryMeterological" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categoryRescue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categoryEnvironmental" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categoryToxicThreat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categoryGeneralSafety" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categoryFire" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categoryTransportation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="categoryOtherUnknown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="alertNoGUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertFullscreenWindowed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="storedMaxSize" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisclaimerShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alertNoRelay" serializeAs="String">
                <value>False</value>
            </setting>
        </SharpAlert.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
